/* Halloween style sheet */
<style>
header {
	background-color: black;
	color; white;
}

#navi {
    list-style-type: none;
    margin: 1px;
    padding: 2px;
    width: 100%;
    background-color: black;
    position: fixed; /* Make it stick, even on scroll */
}


#navi li a {
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

/* Change the link color on hover */
#navi li a:hover {
    background-color: red;
    color: black;
}

#navi li {
     display: inline; /* horizontal navigation bar */
     border-right: 1px solid white;
}

#navi li:last-child {
     border-right: none;
}

section {
	background:orange;
	background:linear-gradient(white,red);
	border: 4px solid red;
	width: 100%;
	height: 500px;
	color: white;	
}

#entertext {
  text-align: center;
  width: 40%;
  height: 45%;
	}


#enter {
	text-decoration: none;
}

.radiobutton {
   border: 10px solid red;
   display:inline-block;
   cursor:pointer;
}

.shirt {
    border: 10px solid red;
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:180px;
    height:180px;
    padding: 10px;

}

.felixcat{background-image:url(cat1.jpg);}
.garfieldcat{background-image:url(cat2.jpg);}
.kittycat{background-image:url(cat3.jpg);}


img:hover {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#spiderweb {
 background: url("spiderweb.jpg") repeat;
 height: 80px;
}



img:hover {
    opacity: 0;

}

footer {
	background-color: red;
	color: white;
}

footer a {
	color: red;
}
</style> 